<div class="row">
  <div class="col-md-4 col-md-offset-4">
		<% @cart.line_items.each do |line_item| %>
			  <ul>
				 <li>
				 <%= line_item.quantity %>
				 <%= line_item.name %>
				 <span class="pull-right"><%=number_to_currency line_item.total_cost %></span>
				 </li>
				 </ul>
				 <hr>
			<% end %>
			<b> TOTAL <span class="pull-right"><%= number_to_currency @cart.total_cost %></span></b>
		<%= simple_form_for @order do |f| %>
		
		<% end %>